<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amity.socialcloud.uikit.community.compose">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name=".story.view.AmityViewStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".story.create.AmityCreateStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".story.draft.AmityDraftStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
    </application>

</manifest>