<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name="com.amity.socialcloud.uikit.community.compose.story.view.AmityViewStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name="com.amity.socialcloud.uikit.community.compose.story.create.AmityCreateStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name="com.amity.socialcloud.uikit.community.compose.story.draft.AmityDraftStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".socialhome.AmitySocialHomePageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".post.detail.AmityPostDetailPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".community.profile.AmityCommunityProfilePageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.pending.AmityPendingPostsPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setup.AmityCommunitySetupPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.AmityCommunitySettingPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.category.AmityCommunityAddCategoryPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.membership.add.AmityCommunityAddMemberPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.membership.list.AmityCommunityMembershipPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.post.AmityCommunityPostPermissionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.story.AmityCommunityStorySettingPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.notifications.AmityCommunityNotificationSettingPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.notifications.comments.AmityCommunityCommentsNotificationSettingPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.notifications.posts.AmityCommunityPostsNotificationSettingPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.setting.notifications.stories.AmityCommunityStoriesNotificationSettingPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".notificationtray.AmityNotificationTrayPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />

        <activity
            android:name=".search.global.AmitySocialGlobalSearchPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".search.community.AmityMyCommunitiesSearchPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".target.post.AmityPostTargetSelectionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".target.story.AmityStoryTargetSelectionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".target.poll.AmityPollTargetSelectionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".target.livestream.AmityLivestreamPostTargetSelectionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".livestream.create.AmityCreateLivestreamPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".livestream.create.thumbnailpreview.AmityThumbnailPreviewPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".livestream.create.nopermission.AmityNoPermissionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".community.bycategory.AmityCommunitiesByCategoryPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".community.category.AmityAllCategoriesPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".post.composer.AmityPostComposerPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.profile.AmityUserProfilePageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".user.edit.AmityEditUserProfilePageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.blocked.AmityBlockedUsersPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".user.relationship.AmityUserRelationshipPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".user.pending.AmityUserPendingFollowRequestsPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".livestream.view.AmityLivestreamPlayerPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".livestream.errorhandling.AmityLivestreamTerminatedPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".livestream.errorhandling.AmityLivestreamDeletedPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".post.composer.poll.AmityPollPostComposerPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>