<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name="com.amity.socialcloud.uikit.community.compose.story.view.AmityViewStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name="com.amity.socialcloud.uikit.community.compose.story.create.AmityCreateStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name="com.amity.socialcloud.uikit.community.compose.story.draft.AmityDraftStoryPageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmityStoryDarkTheme" />
        <activity
            android:name=".socialhome.AmitySocialHomePageActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".post.detail.AmityPostDetailPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity android:name=".community.profile.AmityCommunityProfilePageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".search.global.AmitySocialGlobalSearchPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".search.community.AmityMyCommunitiesSearchPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".target.post.AmityPostTargetSelectionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".target.story.AmityStoryTargetSelectionPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme" />
        <activity
            android:name=".post.composer.AmityPostComposerPageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AmitySocialTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>