<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amity.socialcloud.uikit.chat">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".editMessage.AmityEditMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Amity.Base.Theme.AmityApp" />
        <activity
            android:name=".messages.AmityMessageListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Amity.Base.Theme.AmityApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.AmityChatHomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Amity.Base.Theme.AmityApp" />
    </application>

</manifest>