<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amity.socialcloud.uikit.common">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".imagepreview.AmityImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AmityImagePreviewTheme" />

        <activity
            android:name=".memberpicker.AmityMemberPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Amity.Base.Theme.AmityApp" />

        <activity
            android:name="com.amity.socialcloud.uikit.common.base.AmityImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Amity.Base.Theme.AmityApp" />

        <activity
            android:name="com.amity.socialcloud.uikit.common.base.AmityVideoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Amity.Base.Theme.AmityApp" />

        <provider
            android:name=".utils.AmityProvider"
            android:authorities="${applicationId}.UikitCommonProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/amity_file_path" />

        </provider>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <!--suppress AndroidDomInspection -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>


    </application>
</manifest>