<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amity.socialcloud.uikit.common">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".imagepreview.AmityImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AmityImagePreviewTheme" />

        <provider
            android:name=".utils.AmityProvider"
            android:authorities="${applicationId}.UikitCommonProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/amity_file_path" />

        </provider>

    </application>
</manifest>